<!DOCTYPE html>
<html>
<head>
  <title>Angular</title>
  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</head>
<body ng-app="App">
<div ng-controller="mainController">
  <div>
    <div>
      <input type="text" name="name" ng-model="name">
    </div>
    <div>
      <button ng-click="add()">Add</button>
    </div>
  </div>
  <ul>
    <li ng-repeat="list in lists">{{ list }}</li>
  </ul>
</div>

</body>
</html>